
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Road Code Quiz</title>
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <!--JS-->
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/quiz.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header"><a href="/" class="navbar-brand"></a></div>
      </div>
    </nav>
    <div class="container main-content">
      <div class="quiz-window">
        <div class="quiz-question">
          <p class="question-title"> </p>
          <p class="question-fulltext"></p>
        </div>
        <ul class="quiz-answers">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="quiz-success">
        <p class="quiz-success-head">Congratumalations</p>
        <p class="quiz-success-score-display"> </p>
      </div>
    </div>
  </body>
</html>