html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		title Road Code Quiz

		//CSS
		link(rel="stylesheet", type="text/css", href="css/bootstrap.min.css")
		link(rel="stylesheet", type="text/css", href="css/style.css")

		//JS
		script(src="js/jquery-2.1.4.min.js")
		script(src="js/quiz.js")
		script(src="js/bootstrap.min.js")

	body
		nav.navbar.navbar-inverse.navbar-fixed-top
			div.container
				div.navbar-header
					a.navbar-brand(href="/")=title

		div.container.main-content
			div.quiz-window
				div.quiz-question
					p.question-title 
					p.question-fulltext
					
				ul.quiz-answers
					li
						

					li
						

					li
						

					li
						

		
			div.quiz-success
				p.quiz-success-head Congratumalations
				p.quiz-success-score-display 